@import '../../../colors.scss';

.artifact {
    width: 100%;
    height: auto;

    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 10%;

    background-color: $artifactBack-color;
    border-radius: 15px;
    color: $gray-color;

    img {
        width: 60px;
    }

    &__text {
        width: 100%;

        display: flex;
        flex-flow: column nowrap;
        gap: 10px;

        h1 {
            font-size: 15px;
            font-weight: 300;
            color: white;
        }
    }

    &-rarity {
        border: solid 0.5px $gold-color;
    }
}

.artifactList {
    width: 100%;

    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    gap: 15px;

}