@import '../../colors.scss';
.branches {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: column nowrap;
  gap: 20px;

  img {
    position: absolute;
    top: 20px;
    right: 0;
    // z-index: -1;
  }

  &__title {
    color: $sun-color !important;
    text-shadow: 0 0 38px $profile-color;   
  }

  &__container {
    width: 100%;
    height: 95%;

    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
  }

  &__block {
    color: $profile-color;
  }

  &__box {
    border: solid 0.5px $profile-color;
  }
}