@import '../../colors.scss';

.options {
    width: 100%;
    height: 40px;

    display: flex;
    gap: 5px;
}

.option {
    width: 35%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    font-size: 13px;
    color: $gold-color;

    &-active {
        border: solid 0.5px $gold-color;
    }
}