.block {
    width: 100%;
    height: auto;

    display: flex;
    gap: 10px;
    flex-flow: column nowrap;

    font-size: 15px;


    &__box {
        width: 100%;
        // min-height: 300px;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;

        border-radius: 15px;
    }
}